{% extends 'base1.html' %}
{% load static %}
{% block title %}home{% endblock title %}
{% block body %}
<h1 class="text-center">Contact Us</h1>
<div class="container mt-2">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-3">
            <form action='contact' method='post'>
                {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleInputName" class="form-label">Name</label>
                  <input type="text" class="form-control" id="exampleInputName" name='name' required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name='email' aria-describedby="emailHelp" required>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputDesc" class="form-label">Description</label>
                  <div class="form-group">
                    <textarea class="form-control p-2" type="text" id="desc" name="desc" required></textarea>
                  </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPhone" class="form-label">Phone Number</label>
                    <input type="number" class="form-control" name='phone' id="exampleInputPhone" required>
                  </div>
                <button type="submit" class="btn btn-dark">Submit</button>
                <br>
                <br>
              </form>
        </div>
        <div class="col-md-3"></div>
    </div>



</div>
{% endblock body %}